$colors: (
  neutral: (
    100: white,
    400: gray,
    900: black,
  ),
  primary: (
    100: lightblue,
    400: blue,
    900: darkblue,
  ),
);


$inputbox-colors: (
    "bg": clr(neutral, 100),
    "text": clr(neutral, 400),
    "outline": clr(neutral, 900),
)