$sizes: (
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  20: 1.25rem,
  32: 2rem,
  36: 2.25rem,
);


// going to want to flesh these out more for default templates
$padding-hero: clamp(15rem, 15vh, 20rem);

$padding-section: clamp(3rem, 10vh, 7rem);

$padding-card-body: clamp(2rem, 3.5vw, 5rem);


$container-inline-padding: 1rem;
$container-max-width: 60rem;
$container-max-width-wide: 75rem;

$grid-gap: 1.5rem;
$flex-gap: 1em